<div class="hero-head has-background-radient">
  <header class="nav">
    <div class="container">
      <div class="nav-left">
        <a href="{{ site.baseurl }}/" class="nav-item"><img src="{{ site.avatar }}" /></a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <!--a href="{{ site.baseurl }}/angebote/" class="nav-item">Veranstaltungen</a-->
        <a href="{{ site.baseurl }}/timetable/" class="nav-item">Zeitplan</a>
        <!--a href="{{ site.baseurl }}/niveaustufen/" class="nav-item">Artefakte & Bewertung</a-->
        <!--a href="{{ site.baseurl }}/nomenklatur/" class="nav-item">Nomenklatur</a-->
        <!--a href="{{ site.baseurl }}/gestaltungsportfolio/" class="nav-item">Gestaltungsportfolio</a-->
        <!--a href="{{ site.baseurl }}/projekt-2018/" class="nav-item">Projekt</a-->
        <!--a href="{{ site.baseurl }}/challenge-2017/" class="nav-item">Challenge</a-->
        <!--a href="{{ site.baseurl }}/links/" class="nav-item">Links</a-->
        <!--a href="{{ site.baseurl }}/faq/" class="nav-item">FAQ</a-->
        <!--a href="https://github.com/th-koeln/mi-bachelor-wba1/issues/new" class="nav-item">Frage stellen</a-->
        <!--a href="https://github.com/th-koeln/mi-bachelor-wba1/wiki" class="nav-item">WBA1 Wiki</a-->

      </div>
    </div>
  </header>
</div>